![](https://raw.githubusercontent.com/tqdm/tqdm/master/images/logo.gif)

# tqdm

`tqdm` means "progress" in Arabic (taqadum, ØªÙ‚Ø¯Ù‘Ù…) and is an abbreviation for "I love you so much" in Spanish (te quiero demasiado).

![](https://raw.githubusercontent.com/tqdm/tqdm/master/images/tqdm.gif)

---

## Usage

`tqdm` is very versatile and can be used in a number of ways. The three main ones are given below.

### Iterable-based

Wrap `tqdm()` around any iterable:

In [40]:
from tqdm import tqdm

In [41]:
import time

text = ""
for char in tqdm(["a", "b", "c", "d"]):
    time.sleep(0.25)
    text = text + char

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:01<00:00,  3.99it/s]

`trange(i)` is a special optimised instance of `tqdm(range(i))`:

In [39]:
for i in trange(1_000_000):
    pass

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 1000000/1000000 [00:00<00:00, 1563919.55it/s]

Instantiation outside of the loop allows for manual control over `tqdm()`:

In [42]:
pbar = tqdm(["a", "b", "c", "d"])
for char in pbar:
    time.sleep(0.25)
    pbar.set_description("Processing %s" % char)

Processing d: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 4/4 [00:01<00:00,  3.58it/s]

### Manual

Manual control on `tqdm()` updates by using a with statement:

In [43]:
with tqdm(total=100) as pbar:
    for i in range(10):
        time.sleep(0.25)
        pbar.update(10)

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [00:02<00:00, 39.83it/s]

If the optional variable total (or an iterable with `len()`) is provided, predictive stats are displayed.

`with` is also optional (you can just assign `tqdm()` to a variable, but in this case don't forget to `del` or `close()` at the end:

In [44]:
pbar = tqdm(total=100)
for i in range(10):
    time.sleep(0.25)
    pbar.update(10)
pbar.close()

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [00:02<00:00, 39.83it/s]

It can also be executed as a module with pipes:

In [56]:
! seq 999999 | tqdm --unit_scale | wc -l

1.00Mit [00:01, 824kit/s]
999999

## Advance usage

### Description and additional stats

Custom information can be displayed and updated dynamically on `tqdm` bars with the `desc` and `postfix` arguments:

In [45]:
from tqdm import trange
from random import random, randint
from time import sleep

with trange(100) as t:
    for i in t:
        # Description will be displayed on the left
        t.set_description('GEN %i' % i)
        # Postfix will be displayed on the right,
        # formatted automatically based on argument's datatype
        t.set_postfix(loss=random(), gen=randint(1,999), str='h',
                      lst=[1, 2])
        sleep(0.1)

with tqdm(total=10, bar_format="{postfix[0]} {postfix[1][value]:>8.2g}",
          postfix=["Batch", dict(value=0)]) as t:
    for i in range(10):
        sleep(0.1)
        t.postfix[1]["value"] = i / 2
        t.update()

GEN 99: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 100/100 [00:10<00:00,  9.64it/s, gen=145, loss=0.679, lst=[1, 2], str=h]
Batch      4.5

### Nested progress bars

`tqdm` supports nested progress bars. Here's an example:

In [48]:
from tqdm import trange
from time import sleep

for i in trange(3, desc='1st loop'):
    for j in trange(50, desc='2nd loop', leave=False):
        sleep(0.01)

1st loop:   0%|          | 0/3 [00:00<?, ?it/s]

2nd loop:   0%|          | 0/50 [00:00<?, ?it/s]

2nd loop:  20%|â–ˆâ–ˆ        | 10/50 [00:00<00:00, 99.31it/s]

2nd loop:  40%|â–ˆâ–ˆâ–ˆâ–ˆ      | 20/50 [00:00<00:00, 98.71it/s]

2nd loop:  60%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ    | 30/50 [00:00<00:00, 98.41it/s]

2nd loop:  80%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 40/50 [00:00<00:00, 98.18it/s]

2nd loop: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 50/50 [00:00<00:00, 98.04it/s]


1st loop:  33%|â–ˆâ–ˆâ–ˆâ–Ž      | 1/3 [00:00<00:01,  1.94it/s]

2nd loop:   0%|          | 0/50 [00:00<?, ?it/s]

2nd loop:  20%|â–ˆâ–ˆ        | 10/50 [00:00<00:00, 99.29it/s]

2nd loop:  40%|â–ˆâ–ˆâ–ˆâ–ˆ      | 20/50 [00:00<00:00, 98.79it/s]

2nd loop:  60%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ    | 30/50 [00:00<00:00, 98.46it/s]

2nd loop:  80%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 40/50 [00:00<00:00, 98.25it/s]

2nd loop: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 50/50 [00:00<00:00, 98.07it/s]


1st loop:  67%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–‹   | 2/3 [00:01<00:00,  1.94it/s]

2nd loop:   0%|          | 0/50 [00:00<?, ?it/s]

2nd loop:  20%|â–ˆâ–ˆ        | 10/50 [00:00<00:00, 99.27it/s]

2nd loop:  40%|â–ˆâ–ˆâ–ˆâ–ˆ      | 20/50 [00:00<00:00, 98.76it/s]

2nd loop:  60%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ    | 30/50 [00:00<00:00, 98.42it/s]

2nd loop:  80%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 40/50 [00:00<00:00, 98.21it/s]

2nd loop: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 50/50 [00:00<00:00, 98.04it/s]


1st loop: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 3/3 [00:01<00:00,  1.94it/s]

### Pandas Integration

Due to popular demand we've added support for `pandas` -- here's an example for `DataFrame.progress_apply` and `DataFrameGroupBy.progress_apply`:

In [52]:
import pandas as pd
import numpy as np
from tqdm import tqdm

df = pd.DataFrame(np.random.randint(0, 100, (100_00, 6)))

# Register `pandas.progress_apply` and `pandas.Series.map_apply` with `tqdm`
# (can use `tqdm_gui`, `tqdm_notebook`, optional kwargs, etc.)
tqdm.pandas(desc="my bar!")

# Now you can use `progress_apply` instead of `apply`
# and `progress_map` instead of `map`
df.progress_apply(lambda x: x**2)
# can also groupby:
# df.groupby(0).progress_apply(lambda x: x**2)

my bar!:   0%|          | 0/6 [00:00<?, ?it/s]
my bar!: 100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 6/6 [00:00<00:00, 1190.04it/s]

         0     1     2     3     4     5
0      784  7569    36  8281   484   225
1      169  6724  7056  4489  1296    25
2     4356   529   121  1225   529   121
3     1600    64  4761  2704  8464   225
4      361  1369   169   576  3481  2500
5     1024  5776  8836  8649  7056   400
6      289  8649  1444  2704   256  1024
7     5184   961  1681    49  2704  2601
8     3969  1156   400  1681  2916    49
9     5776  6241  3844  8649    25  2809
10      25   361  8281  4225  2025  4489
11    9801  2809   256  8464  1936  5041
12    9025  4489  6084  3025  3481  5041
13    2401   225  6084  3136  5476  9604
14    6561  3481  3844  2916  9409   400
15     729  9604     1     4  3364  3969
16    1936  5184  3969   625  3969  8649
17    1936  7056  2809  1936  5184  7225
18     361   144  5476  1681   961  1024
19    8464  1681  9409  6889  8464   256
20    3025  2401  3844  1600  4096   361
21       0  8100   900  4489  1369  3969
22    4489   900  2916  1849  3481     9
23    9216  3600  3844  3481  7569  5184
24    2401  1764  1369  1156   256  3721
25    7396  9801  4096   144    64  6400
26    1849  9409  5476   256  6889   225
27    5776  8836    64     0  1089   225
28    5329   144  4489     0     9  9604
29     400  5329  1681  1156  1849  3600
...    ...   ...   ...   ...   ...   ...
9970  8100  3721    81  2916  5476  5776
9971  7225  2401   324   676   676     0
9972     4     1  7396   576  8649  7921
9973  8464  3025   225  3364    16  2809
9974  7056   400  7056  2304  9409  7569
9975  1024  1225  6084  9409  9801  1369
9976  7744   289  2601  9216   576  6400
9977  1849  4096  9801  3600  6889  5041
9978  5329  6561  1156  1764   784  2601
9979  6400  6084     9  4761   289  7921
9980  1600  2916   784  2401  3721  1764
9981  6084  7744   256  6400   900   169
9982  5184   100  5776   289     1  5329
9983  2704  3364  8836  1681  4900  1521
9984    81  1764  4096   484  6889  2601
9985  8464  7921  1444  4761  3969  9409
9986  9025  4225  3249   900  2809  4096
9987  2500  8100  1936   289  6241  5476
9988  5776  7056   169  8281  6241  2116
9989  3844  8100   169   484  1936  1936
9990  4624     0  5625  1681   484   144
9991    81  9801  3481  5776   576   196
9992   625  1369   841  8100  4900  3025
9993    49  1296    36  6241  4489  6084
9994   625     4    81  9216  6241  7396
9995  3249  7396  2025  1849  5041  8464
9996   676  1225  2916  1225  8100  3249
9997     0  3249   196  5929   625  1024
9998  1156  4761  9216  4489  9409  7396
9999  7396    64  5329     9  1444  7569

[10000 rows x 6 columns]

### Writing messages

Since `tqdm` uses a simple printing mechanism to display progress bars, you should not write any message in the terminal using `print()` while a progressbar is open.

To write messages in the terminal without any collision with `tqdm` bar display, a `.write()` method is provided:

In [55]:
from tqdm import tqdm, trange
from time import sleep

bar = trange(10)
for i in bar:
    # Print using tqdm class method .write()
    sleep(0.1)
    if not (i % 3):
        tqdm.write("Done task %i" % i)
    # Can also use bar.write()

 20%|â–ˆâ–ˆ        | 2/10 [00:00<00:00,  9.75it/s]

Done task 0

 50%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆ     | 5/10 [00:00<00:00,  9.82it/s]

Done task 3

 80%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ  | 8/10 [00:00<00:00,  9.83it/s]

Done task 6

100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 10/10 [00:01<00:00,  9.79it/s]

Done task 9

---

## Do your own experiments here ðŸ‘‡

Try `tqdm` youself by adding your code below and running your own experiments.

In [ ]:
import tqdm

# your code here
tqdm.